apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  replicas: {{ .Values.backend.replicas }}
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      initContainers:
        - name: wait-for-postgres
          image: postgres:latest
          imagePullPolicy: IfNotPresent
          command:
            - sh
            - -c
            - |
              until pg_isready -h postgres -p 5432; do
                echo "Waiting for Postgres to become ready..."
                sleep 2
              done

      containers:
        - name: backend
          image: "{{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag }}"
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_DATASOURCE_URL
              value: "{{ .Values.backend.env.datasourceUrl }}"
            - name: JAVA_TOOL_OPTIONS
              value: "-Xmx128m"
          envFrom:
            - secretRef:
                name: postgres-auth
          {{- with .Values.backend.resources }}
          resources:
          {{- toYaml . | nindent 12 }}
          {{- end }}    
