apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres
  labels:
    app: postgres
spec:
  serviceName: "postgres-svc"
  replicas: {{ .Values.postgres.replicas }}
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: "{{ .Values.postgres.image.repository }}:{{ .Values.postgres.image.tag }}"
          imagePullPolicy: {{ .Values.postgres.pullPolicy }}
          ports:
            - containerPort: 5432
          envFrom:
            - secretRef:
                name: postgres-auth
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: data
              subPath: postgres  
          {{- with .Values.postgres.resources }}
          resources:
          {{- toYaml . | nindent 12 }}
          {{- end }}

  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      {{- if .Values.postgres.storageClass }}
      storageClassName: {{ .Values.postgres.storageClass }}
      {{- end }}
      resources:
        requests:
          storage: {{ .Values.postgres.storageSize }}