apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  labels:
    app: postgres
spec:
  replicas: {{ .Values.postgres.replicas }}
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: "{{ .Values.postgres.image.repository }}:{{ .Values.postgres.image.tag }}"
          imagePullPolicy: {{ .Values.postgres.pullPolicy }}
          ports:
            - containerPort: 5432
          envFrom:
            - secretRef:
                name: postgres-auth
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: postgres-storage
          {{- with .Values.postgres.resources }}
          resources:
          {{- toYaml . | nindent 12 }}
          {{- end }}    
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: postgres-pvc
            